@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/index.css or src/App.css */
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

/* Hide scrollbar */
.scrollbar-hide {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

/* Global styles for text selection */
::selection {
    background: rgba(18, 18, 18, 0.909); /* Default selection background */
    color: #ffffff;
}

/* For items in menData */
.men-item::selection {
    background-color: rgba(0, 123, 255, 0.3); /* Light blue for men's items */
    color: white; /* White text color */
}

/* For items in womenData */
.women-item::selection {
    background-color: rgba(255, 192, 203, 0.5); /* Light pink for women's items */
    color: black; /* Black text color */
}

body {
    background-color: #fffffc;
}

.teko {
    font-family: "Teko", serif;
  }